* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 8px;
    background : #eee;
    text-align: center;
}

.notice {
    width: 100vh;
    color: #444;
    /*background: lightgray;*/
    text-align: center;
    margin:8px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #444;
}

img {
    height: 100%;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.rtl {
    direction: rtl;
}

.metro-times img {
    display: block;
}

.metro-times h2 {
    margin: 4px 4px 8px 0;
}